<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" >
         
	<display-name>iMager project</display-name>
	
	<listener>
	    <listener-class>
	      org.springframework.web.context.ContextLoaderListener
	    </listener-class>
  	</listener>
	
	<servlet>
		<servlet-name>Start-servlet</servlet-name>
		<servlet-class>ru.lagranj.service.StartServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>Say-hello</servlet-name>
		<servlet-class>ru.lagranj.service.HelloServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Handler</servlet-name>
		<servlet-class>ru.lagranj.service.MainHandlerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Say-hello</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Handler</servlet-name>
		<url-pattern>/saveimage/*</url-pattern>
	</servlet-mapping>
	
</web-app>
